<div class="container" #autocomplete>
  <div class="searchbar_container">
    <input type="text" class="autocomplete" placeholder="FIND PEOPLE..."  (input)="onInput()" [(ngModel)]="selectedProfile">
    <button (click)="onIcon()"><img src="{{searchIcon}}" alt="" class="search_icon"></button>
      <cdk-virtual-scroll-viewport class="users" [itemSize]="5" *ngIf="isShowAutocomplete">
        <ul>
          <li *cdkVirtualFor="let profile of profiles | search_by: selectedProfile " class="example-item" (click)="onSelectUser(profile)">
            <div class="user_info__wrapper">
              <div class="img__wrapper">
                <img [src]="profile.PictureUrl" alt="profile picture" *ngIf="profile.PictureUrl;else noPicture">
                <ng-template #noPicture>
                  <div class="user__info-initials">
                    <span *ngIf="profile.FirstName !== ''">{{profile.FirstName.substring(0, 1)}}</span>
                    <span *ngIf="profile.LastName">.{{profile.LastName.substring(0, 1)}}</span>
                  </div>
                </ng-template>
              </div>
              <div class="user__info">
                <span class="user__info-name"  [innerHTML]="profile?.FirstName | highlight: selectedProfile"></span>
                <span class="user__info-lastname" [innerHTML]="profile?.LastName | highlight: selectedProfile"></span>
                <div class="form-group" *ngIf="profile?.WorkPhone">
                  <label for="work_phone">Ext: </label>
                  <a class="user__info-email" id="work_phone" href="tel:{{profile?.WorkPhone}}"
                     [innerHTML]="profile?.WorkPhone"></a>
                </div>
                <div class="form-group" *ngIf="profile?.MobilePhone">
                  <label for="cell_phone">Cell: </label>
                  <a class="user__info-email" id="cell_phone" href="tel:{{profile?.MobilePhone}}"
                     [innerHTML]="profile?.MobilePhone"></a>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <div class="footer">Search Directory for {{selectedProfile}}</div>
      </cdk-virtual-scroll-viewport>
  </div>
</div>






