// Colors variables
$inputBg: #72819B;
$white: #fff;
$primaryBg: #102344;
$borderColor: #1C3B61;
$footerBg: #0b1b37;
$textColor: #b0b0b0;
$scrollbar-track: #cccccc;
$scrollbar-thumb-hover: #555;

// ==========  Basic reset ==================
*, *::after, *:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  padding: 1rem 2rem;

}

ul {
  list-style: none;

  li {
    padding: 0;
    margin: 0;
  }
}

a {
  text-decoration: none;
  color: $textColor;
}

.container {
  margin: 0 0 0 auto;
  max-width: 500px;
  width: 100%;
  padding: 10px;

  .searchbar_container {
    position: relative;

    input[type='text']::placeholder {
      color: $white;
    }
    button{
      position: absolute;
      left: 15px;
      top: 25px;
      transform: translateY(-50%);
      z-index: 100;
      display: inline-block;
      background: transparent;
      border: 0;
      box-shadow: none;
      cursor: pointer;
      outline: none;
      &.btn_clear{
        position: absolute!important;
        right: 0;
        top: 10px;
        transform: translateX(337px);
        z-index: 1000;
        width: 0;
        display: inline-block;
        outline: 0;
      }
      img.search_icon {
        width: 30px;
        height: 30px;
      }
    }

    .autocomplete {
      width: 81%;
      padding: 9px 55px;
      border-radius: 35px;
      box-shadow: none;
      border: 0;
      background: $inputBg;
      color: $white;
      outline: 0;
      cursor: default;
      font-size: 18px;
      position: relative;




    }
  }

  .cdk-virtual-scroll-orientation-vertical .cdk-virtual-scroll-content-wrapper {
    width: 200px;
    overflow-x: hidden;
    min-width: 100%;
    //transform: translateY(0) !important;
  }

  .users {
    width: calc(100% - 116px);
    top: 28px;
    left: 16px;
    background: $primaryBg;
    padding: 5px;
    overflow-y: auto;
    //min-height: 395px;

    ul > li {
      cursor: pointer;
      color: $textColor;
      padding: 0 15px;
      font-size: 18px;


    }



    .user_info__wrapper {
      align-items: center;
      padding: 10px;
      border-bottom: 1px solid $borderColor;
      display: flex;
      justify-content: flex-start;

      .img__wrapper {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 10px;

        img {
          height: 100%;
          object-fit: cover;
          border-radius: 50%;
        }
      }
    }

    .user__info {
      margin-left: 1rem;
      display: inline-block;

      &-name {
        display: inline-block;
        margin-right: 7px;


        b.highlight {
          color: $white;
        }
      }

      &-email {
        display: block;
      }

      &-initials {
        border-radius: 50%;
        display: flex;
        width: 100%;
        font-size: 16px;
        height: 100%;
        justify-content: center;
        align-items: center;
        color: #102344;
        border: 3px solid #72819b;
        background: #72819b;
      }
      .form-group{
        display: flex;
        label{
          margin-right: 5px;
        }
      }
    }
  }



}
.footer {
  position: absolute;
  top: 99%;
  margin: auto;
  width: calc(100% - 127px);
  left: 16px;
  z-index: 1000;
  background: #0b1b37;
  padding: 5.8px;
  color: #fff;

  &.small_autocomplete{
    width: calc(100% - 116px);
    top: 107%;
  }
  &.mini_autocomplete{
    width: calc(100% - 116px);
    top: 117%;
  }
}



/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $scrollbar-track;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $inputBg;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $scrollbar-thumb-hover;
}





