// Colors variables
$inputBg: #72819B;
$white: #fff;
$primaryBg: #102344;
$borderColor: #1C3B61;
$footerBg: #0b1b37;
$textColor: #b0b0b0;


// ==========  Basic reset ==================
*, *::after, *:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  padding: 1rem 2rem;

}

ul {
  list-style: none;

  li {
    padding: 0;
    margin: 0;
  }
}

a {
  text-decoration: none;
  color: $textColor;
}

.container {
  margin: 0 0 0 auto;
  max-width: 500px;
  width: 100%;
  padding: 10px;

  .searchbar_container {
    position: relative;

    input[type='text']::placeholder {
      color: $white;
    }
    button{
      position: absolute;
      left: 15px;
      top: 25px;
      transform: translateY(-50%);
      z-index: 100;
      display: inline-block;
      background: transparent;
      border: 0;
      box-shadow: none;
      cursor: pointer;
      img.search_icon {
        width: 30px;
        height: 30px;
      }
    }

    .autocomplete {
      width: 81%;
      padding: 9px 55px;
      border-radius: 35px;
      box-shadow: none;
      border: 0;
      background: #72819b;
      color: #fff;
      outline: 0;
      cursor: default;
      font-size: 18px;
      position: relative;
    }
  }

  .cdk-virtual-scroll-orientation-vertical .cdk-virtual-scroll-content-wrapper {
    width: 200px;
    overflow-x: hidden;
  }

  .users {
    width: calc(100% - 116px);
    top: 30px;
    left: 16px;
    background: #102344;
    padding: 5px;
    height: 306px;
    overflow-y: auto;

    ul > li {
      cursor: pointer;
      color: $textColor;
      padding: 0 15px;
      height: auto;
      font-size: 18px;
    }

    .user_info__wrapper {
      align-items: center;
      padding: 10px;
      border-bottom: 1px solid $borderColor;
      display: flex;
      justify-content: flex-start;

      .img__wrapper {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 10px;

        img {
          height: 100%;
          object-fit: cover;
          border-radius: 50%;
        }
      }
    }

    .user__info {
      margin-left: 1rem;
      display: inline-block;

      &-name {
        display: inline-block;
        margin-right: 7px;

        b.highlight {
          color: white;
        }
      }

      &-email {
        display: block;
      }

      &-initials {
        font-size: 25px;
        color: $inputBg;
      }
      .form-group{
        display: flex;
        label{
          margin-right: 5px;
        }
      }
    }
  }

  .footer {
    background: $footerBg;
    padding: 10px;
    color: $white;
  }

}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
  background: #cccccc;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: $inputBg;
  border-radius: 10px;
}


/* Handle on hover */
::-webkit-scrollbar-thumb:hover {

  background: #555;
}





